<div class="pagination">
  <div
    class="button button_nav button_back"
    (click)="decreasePage()"
    [class.button_disabled]="currentPageIndex === 0"
  ></div>

  <ng-container *ngIf="paginationNumbers.length < 10; else infinitePaginator">
    <div
      class="button"
      *ngFor="let item of paginationNumbers"
      [class.button_active]="item === currentPageIndex"
      (click)="goToPage(item)"
    >
      {{ item + 1 }}
    </div>
  </ng-container>

  <div
    class="button button_nav button_forward"
    [class.button_disabled]="currentPageIndex === pagesCount - 1"
    (click)="increasePage()"
  ></div>
</div>

<ng-template #infinitePaginator>
  <div
    class="button"
    [class.button_active]="currentPageIndex == 0"
    (click)="goToPage(0)"
  >
    1
  </div>
  <div
    class="button"
    [class.button_active]="currentPageIndex == 1"
    (click)="goToPage(1)"
  >
    2
  </div>
  <div class="button">...</div>
  <div
    class="button"
    [class.button_active]="currentPageIndex == paginationNumbers.length - 1"
    (click)="goToPage(paginationNumbers.length - 1)"
  >
    {{ paginationNumbers.length }}
  </div>
</ng-template>
