<div class="tabs">
  <div class="ruler" #ruler>
    <div
      class="tab"
      *ngFor="let tab of tabs | appOverflowTabs : hiddenIndex; let i = index"
      [class.tab_active]="i === activeTabIndex"
      (click)="openTab(i)"
    >
      <span class="title">{{ tab.title }}</span>
      <div class="tab-icon tab-icon_close" (click)="removeTab($event, i)"></div>
    </div>

    <div
      class="tab more"
      tabindex="0"
      *ngIf="overflowed"
      [class.tab_active]="activeTabIndex >= hiddenIndex"
    >
      More...

      <div class="tab-icon tab-icon_more"></div>

      <div class="dropdown">
        <div
          class="tab"
          *ngFor="
            let tab of tabs | appOverflowTabs : hiddenIndex : true;
            let i = index
          "
          [class.tab_active]="hiddenIndex + i === activeTabIndex"
          (click)="openTab(hiddenIndex + i)"
        >
          <span class="title">{{ tab.title }}</span>
          <div
            class="tab-icon tab-icon_close"
            (click)="removeTab($event, i)"
          ></div>
          <div
            class="tab_close"
            (click)="removeTab($event, hiddenIndex + i)"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div
      class="view"
      *ngFor="let tab of tabs; let i = index"
      [class.view_hidden]="i !== activeTabIndex"
    >
      <ng-container #content></ng-container>
    </div>
  </div>
</div>
