$primary: #0d6efd;

.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.partial {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    background: white;
    width: 9px;
    height: 2px;
  }
}

.all {
  background-color: $primary;
  border: 1px solid $primary;
  background-image: url("../../../../../assets/done.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
